/* reset */
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
/*regole generali*/
body{
  font-family: 'Montserrat', sans-serif;
}
ul{
  list-style: none;
}
a{
  text-decoration:none;
  color: white;
}
/* clearfix */
.clearfix::after{
  content: '';
  display: table;
  clear: both;
}
/* MAIN */
main .main_container{
  color: white;
  background-color: #141922;
  height: calc(100vh - 100px);
  float: left;
  width: calc(100% - 200px);
  overflow-y: auto;
}
main a{
  color: #a3a3a3;
}
main a:hover{
  color: white;
}
/*effettua l'upgrade*/
main .top_fix{
  left: 200px;
  position: fixed;
  height: 100px;
  width: calc(100% - 200px);
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
  display: flex;
  align-items: center;
}
main .top_fix .upgrade{
  position: absolute;
  right: 20px;
}
main .top_fix .upgrade a{
  color: white;
  padding: 10px 20px;
  border: 1px solid white;
  border-radius: 20px;
}
main .top_fix .upgrade:hover{
  transform: scale(1.1);
}
/*menu superiore*/
main .main_container .categorie{
  padding-top: 115px;
  text-align: center;
}
main .main_container .categorie li{
  display: inline-block;
  margin-right: 24px;
  font-size: 14px;
  margin-bottom: 10px;
  position: relative;
}
main .main_container .categorie li:last-child{
  margin-right: 0;
}
main .main_container .categorie li hr{
  border-color: #adff2f;
  border-width: 1px;
  position: absolute;
  width: 35px;
  left: 50%;
  bottom: -5px;
  transform: translate(-50%, -50%);
}

/*parte principale*/
main .main_container .wrapper{
  padding: 0px 20px;
}
main .main_container .wrapper p{
  color: #a3a3a3;
}
main .main_container .wrapper h2{
  margin: 30px 0;
}

/*contenitori*/
main .main_container .wrapper .box{
  width: calc(100%/6);
  float: left;
  min-height: 350px;
}
main .main_container .wrapper.john h2,
main .main_container .wrapper.artist h2{
  margin: 0;
}
main .main_container .wrapper.john p,
main .main_container .wrapper.artist p{
  margin: 10px 0;
}
main .main_container .wrapper .box .box_content{
  width: 90%;
  text-align: center;
}
main .main_container .wrapper .box .box_content h4{
  margin: 10px 0;
}
main .main_container .wrapper .box .box_content img{
  width: 100%;
}
main .main_container .wrapper.artist .box .box_content img{
  border-radius: 50%;
}
main .main_container .wrapper .box .box_content p{
  font-size: 13px;
}
main .main_container .wrapper .box .box_content .picture{
  position: relative;
}
main .main_container .wrapper .box .box_content i{
  color: white;
  font-size: 5em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
main .main_container .wrapper .box .box_content .picture:hover i.fa-play-circle{
  display: inline;
}
main .main_container .wrapper .box .box_content .picture:hover img{
  opacity: 0.5;
}
@media all and (max-width: 991px){
  main .main_container .wrapper .box{
    width: calc(100%/2);
    min-height: 250px;
  }
  main .main_container .wrapper.recently .box .box_content p{
    margin-bottom: 10px;
  }
}
@media all and (min-width: 992px) and (max-width: 1200px){
  main .main_container .wrapper .box{
    width: calc(100%/4);
  }
}
/*nav*/
main .nav_container{
  background-color: #000000;
  height: calc(100vh - 100px);
  width: 200px;
  float:left;
  overflow: hidden;
}
/*logo*/
main .title{
  height: 100px;
}
main .title img{
  height: 100px;
  width: 100%;
}
/*top menu*/
main .top-menu{
  height: 110px;
}
main #home{
  color: white;
}
main .top-menu li{
  padding-left: 10px;
  margin-bottom: 5px;
  border-left: 3px solid;
}
main .top-menu li.green{
  border-left: 3px solid #adff2f;
}
main .top-menu li:first-child{
  display: none;
}
main .top-menu img{
  width: 30px;
  vertical-align: middle;
}
/*zona playlist*/
main .playlist{
  height: 100px;
}
main .playlist h3{
  color: white;
  margin-top: 15px;
  margin-bottom: 10px;
}
main .playlist,
main .name_playlist{
  padding-left: 13px;
}

main .playlist i{
  font-size: 40px;
  vertical-align: middle;
}
main .playlist_container{
  height: calc(100vh - 510px)
}
main .playlist_container .name_playlist{
  overflow-y: auto;
  height: 90%;
}
main .playlist_container .name_playlist{
  line-height: 35px;
}
/*sezione utente*/
main .utente{
  padding-left: 13px;
  padding-right: 13px;
}
main .utente img{
  height: 15px;
  vertical-align: middle;
}

main .utente .name img{
  height: 30px;
  background-color: grey;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 5px;
}
main .utente .name h3{
  display: inline-block;
  color: white;
}
main .utente hr{
  margin: 10px 0;
  border-color: #a3a3a3;
  border-width: 0.1px;

}
/* barra di sinistra responsive */
@media all and (max-width: 767px){
  main .nav_container span,
  main .nav_container .utente .name h3,
  main .nav_container .utente hr,
  main .nav_container .playlist,
  main .nav_container .playlist_container,
  main .nav_container .title
  {
    display: none;
  }
  main .nav_container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  main .nav_container .top-menu li{
    margin: 0;
    padding: 0;
    border: 0;
    margin-bottom: 10px;
  }
  main .nav_container .top-menu li:first-child{
    display:list-item;
  }
  main .nav_container .top-menu li.green{
    border-left: 0px
  }
  main .nav_container .utente a img{
    margin-bottom: 10px;
    margin-left: 5px;
  }
  main .nav_container{
    width: 50px;
  }
  main .main_container{
    width: calc(100% - 50px);
  }
  main .top_fix{
    left: 50px;
    width: calc(100% - 50px);
  }
}
@media all and (max-height: 600px){
    main .nav_container .utente{
      display: none;
    }
    main .playlist_container{
      height: calc(100vh - 400px)
    }
}

/* FOOTER */
footer .player{
  color: white;
  padding: 0 20px;
  background-color: #282828;
  height: 100px;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*parte a sinistra*/
footer .player .left img{
  height: 45px;
  vertical-align: middle;

}
footer .player .left .text{
  vertical-align: middle;
  display: inline-block;
  padding: 0 5px;
}
footer .player .left p{
  font-size:11px;
  color: #838383;
}
footer .player .left .icons{
  display: inline-block;
  padding-left: 20px;
}
footer .player .left .icons a{
  color: #a3a3a3;
}
footer .player .left .icons a:hover{
  color: white;
}
footer .player .left .text p:hover{
  color: white;
  text-decoration: underline;
}
footer .player .left .icons i:first-child{
  margin-right: 5px;
}
/*parte centrale*/
footer .player .center{
  min-width: 45%;
}
footer .player .center .comandi{
  text-align: center;
  padding-bottom: 12px;
}
footer .player .center .comandi i{
  vertical-align: middle;
}
footer .player .center .comandi i:hover{
  transform: scale(1.5);
}
footer .player .center .comandi i.fa-random{
  font-size: 20px;
}
footer .player .center .comandi i.fa-caret-left{
  font-size: 30px;
  margin-left: 15px;
  margin-right: 20px;
  }
footer .player .center .comandi i.fa-play-circle{
  font-size: 30px;
}
footer .player .center .comandi i.fa-caret-right{
  font-size: 30px;
  margin-left: 20px;
  margin-right: 15px;
}

/*barra riproduzione*/
footer .player .center .minutes{
  position: relative;
  padding: 0 37px;
}
footer .player .center .barra{
  display: inline-block;
  width: 100%;
}
footer .player .barra_uno{
  float: left;
  width: 20%;
  border: 2px solid #c1c1c1;
  border-radius: 5px;
}
footer .player .barra_due{
float: left;
  width: 80%;
  border: 2px solid #5a5a5a;
  border-radius: 5px;
}
footer .player .center .minutes i{
  position: absolute;
  bottom: -2.7px;
  left: 22%;
  display: none;
}
footer .player .center .minutes:hover .barra_uno{
  border: 2px solid green;
}
footer .player .center .minutes:hover .fa-circle{
  display: inline;
}
footer .player .center .minutes .one{
  font-size: 12px;
  position: absolute;
  left: 0;
  bottom: 0;
}
footer .player .center .minutes .two{
  font-size: 12px;
  position: absolute;
  right: 0;
  bottom: 0;
}

/*parte sinistra con volume*/
footer .player .right .icons{
  display: inline-block;
}
footer .player .right .icons i{
  margin-right: 5px;
}
footer .player .right .volume{
  display: inline-block;
  position: relative;
  width: 100px;
  vertical-align: middle;
}
footer .player .right .volume i{
  position: absolute;
  bottom: -6px;
  left: 15%;
  display: none;
}
footer .player .right .volume:hover .fa-circle{
  display: inline;
}
footer .player .right .volume:hover .barra_uno{
  border: 2px solid green;
}
